<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        
        
<beans>
<bean id="ac" class="com.SpringAOP.Account"/>
<bean id="AuthenticationAspect" class="com.SpringAOP.Authnetication"/>
<bean id="LoggingAspect" class="com.SpringAOP.Logging"/>


<bean id ="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="proxyInterfaces" value="com.SpringAOP.Bank"/>
<property name="interceptorNames" >

		<list>
		<value>AuthenticationAspect</value>
		<value>LoggingAspect</value>
		</list>
		</property>

<property name="target" >
<ref bean="ac"/>
</property>

</bean>

</beans>